@model BWI.JAN20.WEB.Models.BookModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookModel</h4>
    <hr />
    <div class="row">
        <div class="col-lg-1 col-md-2 col-sm-4">
            Book Name
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8">
            @Model.Name
        </div>
    
        <div class="col-lg-1 col-md-2 col-sm-4">
            Rate
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8">@Model.Rate</div>
    
        <div class="col-lg-1 col-md-2 col-sm-4">
            Author
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8">@Model.Author</div>
   
        <div class="col-lg-1 col-md-2 col-sm-4">
            Publication
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8">@Model.Publication</div>
   
        <div class="col-lg-1 col-md-2 col-sm-4">
            Year
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8">@Model.Year</div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
